# Chapter Twelve Workshop Exercises

## Introduction

### Sets

In the Downey book Sets are not considered until the final Chapter. However, I feel that they are sufficiently important to examine them now. You have probably come across sets in mathematics. It is a collection that is neither indexed nor ordered and hence we are primarily concerned with *membership* of a set. Sets, like dictionaries use the {} brackets to represent the set. However, unlike a dictionary, sets have no values, merely keys. Sets are immutable but you can add new items using the set's add() or update() methods.

In mathematics we are generally interested in the relationship between different sets. The **union** of two sets is a set containing all of the items present in the two sets. Note that you cannot (mathematically) have duplicates in a set, each item is unique. The set's `union()` method performs this function.

The **difference** between two sets is a set containing items that are not in BOTH sets. A `difference()` method is provided.
The **intersection** of two sets is the set of items that are in BOTH sets. An `intersection()` method is provided. Lets look at some simple examples which should illustrate what Sets are all about!

In [2]:
# sets example

tall = {"Tom", "Bob", "Harry", "Susan", "Phillipa", "Mike"}
fast = {"Tom", "Harry", "Phillipa", "Keith", "Brian"}
bilingual = {"Harry", "Susan", "Brian", "Robert"}

print("Susan" in tall)
print("Susan" in fast)
tall_or_fast=tall.union(fast)
print(tall_or_fast)
tall_and_fast=tall.intersection(fast)
print(tall_and_fast)

True
False
{'Mike', 'Phillipa', 'Tom', 'Harry', 'Brian', 'Susan', 'Bob', 'Keith'}
{'Tom', 'Harry', 'Phillipa'}

## Exercise 12.1

After following the above examples you should be capable of writing code that answers the following questions:

1. Who is tall, fast and bilingual ?
2. Who is bilingual, but not tall ?

In [3]:
# Exercise 12.1
tall = {"Tom", "Bob", "Harry", "Susan", "Phillipa", "Mike"}
fast = {"Tom", "Harry", "Phillipa", "Keith", "Brian"}
bilingual = {"Harry", "Susan", "Brian", "Robert"}

tall = {"Tom", "Bob", "Harry", "Susan", "Phillipa", "Mike"}
fast = {"Tom", "Harry", "Phillipa", "Keith", "Brian"}
bilingual = {"Harry", "Susan", "Brian", "Robert"}

tall_fast_biligual = bilingual.intersection(fast, tall)
print(tall_fast_biligual, " is tall, fast and bilingual")

bilingual_notTall = tall.difference(bilingual)
print(bilingual_notTall)

Note that special **set operators** can be used in place of the methods above:

In [4]:
tall_or_fast= tall | fast     # union
print(tall_or_fast)
tall_and_fast=tall & fast    # intersection
print(tall_and_fast)
tall_not_fast = tall - fast  # difference
print(tall_not_fast)

{'Mike', 'Phillipa', 'Tom', 'Harry', 'Brian', 'Susan', 'Bob', 'Keith'}
{'Tom', 'Harry', 'Phillipa'}
{'Mike', 'Bob', 'Susan'}

The Downey book occasionally uses dictionaries without values in place of sets. This is often unwise as using sets can be far more efficient. 

### Tuples

We now move on to Tuples, the main subject of Downey's Chapter twelve. A tuple is a sequence of values. The values can be any type, and they are indexed by integers making them a lot like lists. The important difference is that tuples are immutable. We cannot modify an item in a tuple - much like strings. Tuples have some powerful features. Downey has sections on Tuple assignment and Tuple function results. Both are important. Because a Tuple is a sequence, all of the operators and methods appropriate to a sequence are available for a tuple.

As you will have gathered from the text, a tuple is in essence a comma separated list of variables, although it is good practice to place them in round brackets. You can check with the following code:

In [5]:
print(type((1,2,3)))

<class 'tuple'>

Elements of a tuple can be accessed using normal indexing (as for lists). Slices are also applicable. For example:

In [6]:
tup = (1,2,3,4,5)
print(tup[1])
print(tup[2:4])

2
(3, 4)

When returning a result from a function, the return statement is technically only capable of returning a single value. By returning a Tuple, we can in essence returm multiple values.

## Exercise 12.2

Write and demonstrate the use of a funtion **getstats** that accepts a Tuple of integer values as an argument and returns a tuple with the Maximum, Minimum and Average value of the integers in the argument. For example, the call could be:

tup = getstats((33,44,55,66,77,23,43,54,65,88,12,34,23))

In [7]:
# Exercise 12.2
def getstats(t):
    return min(t), max(t)

tup = getstats((33,44,55,66,77,23,43,54,65,88,12,34,23))
print(tup)

### Conversion

Some collection types can be converted to other collection types. With the conversion might come a change in functionality and efficiency. A tuple can be conerted to a set with the set function:

In [8]:
tup = (33,44,55,66,77,23,43,54,65,88,12,34,23)
s = set(tup)
print(s)
print(type(s))

{33, 66, 65, 34, 43, 44, 77, 12, 23, 54, 55, 88}
<class 'set'>

Similarly, a set may be converted to a tuple:

In [9]:
t = tuple(s)
print(t)
print(type(t))

(33, 66, 65, 34, 43, 44, 77, 12, 23, 54, 55, 88)
<class 'tuple'>

What if we try to convert a tuple to a dictionary?

In [10]:
dic = dict(t)
print(dic)
print(type(dic))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

Or a set to a dictionary?

In [ ]:
dic = dict(s)
print(dic)
print(type(dic))

These problems may initially appear confusing. You need to think about what each data type is and what you can do with it. Both a tuple and a set can be conerted to a list, as shown below, but not to a dictionary.

In [ ]:
lst=list(s)
print(lst)

In [ ]:
lst=list(t)
print(lst)

## Summary

There are a great many data types in Python and many more int the third party libraries tht you will meet later in the course. It is not possible to remember everything. When you encounter somethin new a combination of experimentation and reading the documentation is generally what is required. So, lets pose a problem: 

## Exercise 12.3

Lets take the 'tall' set defined earlier and convert it to a dictionary in which the keys are the set values and the dictionary values are initially set to 0 but will later hold the height of the individual concerned. Try to find an effient way of achieving this.

In [ ]:
# Exercise 12.3